.modal-overlay {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    height: 100px; 
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    z-index: 1000; 
    pointer-events: none;
}

.modal-content {
   
    background-color: #ffffff !important;
    color: #333;
    padding: 10px 20px; 
    border-radius: 0 0 10px 10px; 
    width: 70%;
    max-width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    animation: slideDown 0.3s ease-out;
    pointer-events: all;
    margin-top: 15px 
}

.modal-content h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #d9534f;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.modal-actions button {
    padding: 6px 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.cancel-btn {
    background-color: #f0f0f0;
    color: #333;
}

.cancel-btn:hover {
    background-color: #e0e0e0;
}

.confirm-btn {
    background-color: #d9534f;
    color: white;
}

.confirm-btn:hover {
    background-color: #c9302c;
}
