* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Layout principal da aplicação */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* O conteúdo cresce pra empurrar o footer */
main {
  flex: 1;
}
