.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background: var(--bg-header, #222);
  color: #fff;
}

.left-zone {
  margin-right: auto;
}

.header .logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.header .search-bar input {
  text-align: left; 
  padding: 6px 130px 6px 10px;
  border-radius: 6px; 
  border: 1px solid #ccc;
}

.user-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  width: 100%;
}

.btn-theme,
.btn-home,
.btn-tarefas,
.btn-receitas{
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: auto;
  margin: 0px 30px 0px 0px
}

.btn-logout{
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: auto;
  justify-content: left
}