.modal-overlay {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    height: 100px; 
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    z-index: 1000; 
    pointer-events: none;
}

.modal-content {
   
    background-color: #ffffff !important;
    color: #333;
    padding: 10px 20px; 
    border-radius: 0 0 10px 10px; 
    width: 70%;
    max-width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    animation: slideDown 0.3s ease-out;
    pointer-events: all;
    margin-top: 15px 
}


.modal-description-text { 
    white-space: pre-wrap; 
    font-family: inherit;
    margin: 0; 
    padding-top: 5px; 
    color: #333;
    padding-left: 10px; 
}

.modal-description-text a {
    color: #007bff; /* Garante que o link seja azul e visível */
    text-decoration: underline;
    font-weight: bold;
    /* Adicione quaisquer outros estilos de link aqui */
}

.modal-content strong {
    display: inline-block;
    margin-right: 5px;
}

.modal-content h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #d9534f;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.modal-actions button {
    padding: 6px 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.cancel-btn {
    background-color: #f0f0f0;
    color: #333;
}

.cancel-btn:hover {
    background-color: #e0e0e0;
}

.confirm-btn {
    background-color: #d9534f;
    color: white;
}

.confirm-btn:hover {
    background-color: #c9302c;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.form-group textarea {
    resize: vertical;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group label {
    margin-bottom: 0;
}